# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json

# IDE / Editor
.idea/
.vscode/
*.swp
*~

# Project Specific
config.yaml
*.log
assets/local/*

python3*
aaa/*
storage/*